{{/* this is a docker-gen template. See docker-gen for more details */}}
filebeat:
  prospectors:
  {{ range $key, $value := . }}
    -
      paths:
        - /var/lib/docker/containers/{{ $value.ID }}/{{ $value.ID }}-json.log
      document_type: filebeat-docker-logs
      fields:
        type: {{ $value.Image.Repository }}
        container: {{ $value.ID }}
  {{ end }}
output:
  logstash:
    hosts:
      - 10.20.5.34:5044
    timeout: 5
logging:
  level: info
